* {
    margin: 1px;
    padding: 0px;
}

body {
    max-width: 1200px;
    margin: auto;
    background-color: #F1F1F3;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 12px 0px;
}

.btn {
    padding: 15px 30px;
    border: 1px solid #006A50;
    color: #006A50;
    /* border: none; */
    border-radius: 8px;
}

.box {
    border: 1px solid #C6E4D6;
    background-color: #C6E4D6;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 44px 48px;
    border-radius: 12px;
    margin: 24px 0px;
}

.box-title {
    margin-bottom: 12px;
    color: gray;
    font-size: 18px;
}

/* Pillars Bangladesh styles */
.Pillars-Bangladesh {
    display: flex;
    justify-content: space-between;
    gap: 12px;
}



.pillars-parent {
    margin: 40px 0;
}

.pillars {
    border: 1px solid gray;
    border-radius: 12px;
    padding: 22px;
    box-shadow: inset;
}

.the-future {
    display: flex;
    justify-content: space-between;
    gap: 12px;
    padding: 32px 0;
}

/* .future{
    padding: 30px;
    border: 1px solid tomato;
} */
.transformation {
    background-color: #bed2f7;
    padding: 32px;
    border-radius: 16px;
}

.future-title {
    margin: 12px 0;
}

.future-description {
    margin: 12px 0;
}

.energy {
    background-color: #C6E4D6;
    padding: 32px;
    border-radius: 16px;
}

.infrastructure {
    background-color: #F7EBCF;
    padding: 32px;
    border-radius: 16px;
}

.open {
    background-color: #5490F5;
    color: #FFFFFF;
    border-radius: 8px;
    padding: 12px 16px ;
    border: none;
}

.button {
    width: 100px;
    height: 40px;
    background-color: #09A15C;
    color: #FFFFFF;
    border-radius: 8px;
    border: none;
}

.cta-btn {
    background-color: #09A15C;
    color: #FFFFFF;
    border-radius: 8px;
    border: none;
    padding: 12px 16px;
    margin-top: 12px;
}

.more {
    background-color: #FFC239;
    color: #FFFFFF;
    border-radius: 8px;
    padding: 12px 16px ;
    border: none;
}

.banner-container {
    width: 1280px;
    height: 256px;
    /* border: 1px solid tomato; */
    background-image: url("../assest/quote-bg.png");
    background-repeat: no-repeat;
    background-position-x: 24px;
    background-position-y: 25px;
    background-color: #F1F1F3;

}

.soluta-Dr-Yunus {
    padding-top: 75px;
    padding-left: 15px;
}

.soluta {
    padding-bottom: 12px;
}

.box1 {
    display: flex;
    gap: 16px;
    background-color: #f5ebebf3;
    border-radius: 8px;
    padding: 46px;
    margin: 24px 0;

}


.box1-img {
    border-radius: 16px;
}

.box2-left {
    padding-right: 2px;
}